@model ProjectApp.Models.Project

@{
    ViewData["Title"] = "Добавить сотрудника к проекту";
}

<h1>Добавить сотрудника на проект : @Model.Name</h1>

<form asp-action="AddEmployee" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>Выбор сотрудника</label>
        <select name="employeeId" asp-items="ViewBag.Employees" class="form-control" style="margin-bottom: 20px;"></select> <!-- Добавлен отступ -->
    </div>
    
    <button type="submit" class="btn btn-primary">Добавить сотрудника</button>
    <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-secondary">Назад к проекту</a>
</form>

<h3>Сотрудники проекта</h3>
<ul>
    @foreach (var employee in Model.Employees)
    {
        <li>
            @employee.FirstName @employee.LastName
            <a asp-action="RemoveEmployee" asp-route-projectId="@Model.Id" asp-route-employeeId="@employee.Id" class="btn btn-danger btn-sm" >Удалить</a>
        </li>
    }
</ul>
